#outbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 30px;
    margin: 0%;
}

.nav {
    width: 20%;
    background-color: blue;
    min-height: 600px;
}

.outerbox {
    width: 80%;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0%;
}
.header{
    width: 100%;
    background-color: rgb(47, 214, 47);
    height: 150px;
}
.outerbox2{
    width: 70%;
    background-color: aqua;
    min-height: 600px;
}
.article{
    width: 100%;
    background-color: rgb(34, 235, 78);
    min-height: 400px;
}
.footer {
    width: 100%;
    background-color: rgb(188, 18, 137);
    min-height: 200px;
}
.aside{
    width: 30%;
    background-color: rgb(179, 255, 0);
    min-height: 400px;
}
